section{
    margin-top: 10px;
    height: 3rem;  

}


.menu{
    display: flex;
    justify-content: space-between;
}

.menu .logo{
 
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 35px;
    background: -webkit-linear-gradient(78deg, #f8e963, #bd3737,#f1a43e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu li{
    list-style: none;

}

.menu_meio{
    display: flex;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 35px;
   width:  50rem;


}

.menu_meio ul{
    display: flex;
    color: #f1a43e;
    gap:  10rem;

}