section{
height: 100vh;
width: 100%;
border: solid 1px rgb(255, 255, 255);
display: flex;
align-items: center;
justify-content: center;
}

.tela{
    height: 800px;
    width: 85%;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.blu
{

background-color: rgb(6, 7, 7);
height: 9px;
width:   100%;
filter: blur(7px);
margin-top: 4px;
margin-bottom:    6px;
}
.conteudos{
    display: flex;
    justify-content: center;
}