*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
 

    background: rgb(27,33,41);
background: -moz-radial-gradient(circle, rgba(27,33,41,1) 0%, rgba(19,2,2,1) 100%);
background: -webkit-radial-gradient(circle, rgba(27,33,41,1) 0%, rgba(19,2,2,1) 100%);
background: radial-gradient(circle, rgba(27,33,41,1) 0%, rgba(19,2,2,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b2129",endColorstr="#130202",GradientType=1);
}